/data/etc/credentials.py
/data/etc/giphy_key.py
/data/redditdata/
/data/pokemon/
__pycache__/
local/
log/
venv/
notes
tools/test.py
.idea/
/data/etc/ids.json
/data/etc/vars.json
/tools/
ideas.md
tools/databasemodfier.py
